.StyledButton {
  width: fit-content;
  // border-radius: 4px;
  // font-size: 16px;
  // font-style: normal;
  // font-weight: 600;
  // line-height: 140%;
  border: none;
  outline: none;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // gap: 12px;
  // border-radius: 12px;
  // z-index: 9999999;
  // text-transform: uppercase;
  display: flex;
  align-items: center;
  border-radius: 5px;
  display: inline-flex;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  min-width: 156px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #47fac6;
  color: black;
  // margin: 0 auto;
}

.ButtonParent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
